html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

body {
  margin: 0;
}

header img {

  margin: 10px 10px;
  height: 50px;
  display: inline-flex;
  align-items: flex-start;
}

header  {
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  width: 100%;
  background-color: black;
  z-index: 999;
}

nav {
  float: right;
  list-style: none;
  color: white;
}

nav li {
  display: inline-flex;
  align-items: center;
  color: white;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  margin: 15px 40px;
  text-decoration: underline;
}

nav {
  color: white;
}

#container1 {
  height: 700px;
  width: 100%;
  text-align: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;


}

#titlebar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  flex-direction: column;
  width: 1200px;
  height: 120px;
}

#titlebar h2 {
  text-align: center;
  display: flex;
  margin: 0 0 30px 0;
}

#titlebar h4 {
  text-align: center;
  display: flex;
  margin: 0 0 0 0;
}

#container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding-top: 50px;
}

#teas {
  display: inline-block;
  flex-wrap: wrap;

}

#teas {
  display: inline-flex;
  flex-direction: row;
  width: 1000px;
  justify-content: center;
  margin: 0 10px;
}

.tea img {
  width: 300px;
  height: 200px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.tea {
  text-align: center;
  margin: 0 15px;

}

.twowords  {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#container3 {
  margin-top: 75px;
  display: inline-flex;
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;
  flex-direction: column;
  text-align: center;
  height: 500px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
}

.location {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  width: 300px;
  justify-content: center;
  margin: 0 20px;
  background-color: black;
}

#locationdiv {
  display: inline-flex;
  justify-content: center;
}

.location h5 {
  font-weight: normal;
}

#container4 {
  height: 200px;
  text-align: center;
}

#cc {
  text-align: left;
  margin-left: 20px;
}
